<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unity3d.player">

  <!-- 마이크 사용 권한 -->
  <uses-permission android:name="android.permission.RECORD_AUDIO" />

  <!-- 파일 저장 권한 (녹음 파일을 저장할 경우 필요) -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <!-- 인터넷 사용 권한 (Whisper API와 같은 네트워크 요청을 위해 필요) -->
  <uses-permission android:name="android.permission.INTERNET" />

  xmlns:tools="http://schemas.android.com/tools">
  <application>
    <activity android:name="com.unity3d.player.UnityPlayerActivity"
              android:theme="@style/UnityThemeSelector">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
    </activity>
  </application>
</manifest>
